<a href="https://colab.research.google.com/github/ZainabRashid/testingabc/blob/main/Gen_AI_claas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

plz entyer your age :252344t5
plz enter your name :posixefgfgnfh

In [ ]:
print("enter your name ")
name=input()
print("Your name is : "+ name)
print("Enter your age ")
age=int(input())
b=10
sum= age+b
print(name+ "! your age will be "+  str(sum) +" after 10 years")

enter your name
Ali
Your name is : Ali
Enter your age
22
Ali! your age will be 32 after 10 years

In [ ]:
list=[5,10,15,20,25,30,35,40,45,50]
list.insert(9,45.5)
list[6]=37
list.insert(6 , 'Zainab')
del list[4]
del list[3]
list.extend(["Multiples of 5"])
print(list)

[5, 10, 15, 30, 'Zainab', 37, 40, 45, 45.5, 50, 'Multiples of 5']

In [ ]:
text= input("Enter your text:")
words=text.split(",")
print(words)